[Unit]
Description=Lernapp Flask Server
After=network.target

[Service]
Type=simple
WorkingDirectory=C:/Users/Administrator/Desktop/Repo clone/lernapp-apk/app
ExecStart=python C:/Users/Administrator/Desktop/Repo clone/lernapp-apk/app/server_neu.py
Restart=always

[Install]
WantedBy=multi-user.target
